*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(240, 236, 236);
    font-size: 1em;
}

/* navbar */
div#navbarNavDropdown.collapse.navbar-collapse{
    justify-content: flex-end;
}
.navbar-light .navbar-nav .nav-link{
    color: #5f7e9c;
    margin-left: 40px;
}
.navbar-light .navbar-brand{
    color:#49749e;
}
.navbar.navbar-expand-lg.navbar-light.fixed-top{
    background-color: rgb(240, 236, 236);
}

/* main */
.container-fluide.head, .container-fluide.contact,.container-fluide.deux{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2 ease;
    transition: all 0.2s ease;
    width: 100%;
    height: max-content;
}
.container-fluide.head{
    background-image: url(../img/image-fond-header.jpg);
}
.container-fluide.deux{
    background-image: url(../img/fond.jpg);
}
.container-fluide.contact{
    background-image: url(../img/fond3.jpg);
}
.block{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container-fluide.head .container .block .block1 img{
    width: 350px;
    opacity: 0.9;
}

.container-fluide.head .container .block{
    padding-top: 220px;
}
.container-fluide .container .block .block1{
    padding: 0px;
    display: none;
}
.container-fluide .container .block2 .row{
    padding-top: 15px;
    padding-left: 60px;
    padding-right: 40px;
}
.container-fluide .container .block2{
    display: none;
    background-color: rgb(216, 207, 211);
    opacity: 0.8;
}
.container-fluide .container .block2 .row.titre{
    display: flex;
    flex-direction: column;
}
.container-fluide .container .block2 p{
    font-size: 14px;
}
.container-fluide .container .block2 .row.num p{
    margin-left: 10px;
}
.container-fluide .container .block2 .row.num i{
    font-size: 20px;
    color: rgb(45, 45, 150);
}
.container-fluide .container .block2 .row.num a{
    color: black;
}

main .container.icone {
    display: flex;
    justify-content: center;
}
main .container.icone .icon{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 694px;
    background-color: #49749e;
}
main .container.icone .icon i{
    line-height: 50px;
    color:rgb(216, 207, 211);
    opacity : 0.8;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

main .container.para{
    width: 500px;
    margin-top: 60px;
}
.para1{
    text-align: justify;
    padding-bottom: 60px;
}
.para1 h3{
    text-align: center;
}
h3{
 color: #49749e;
}


.container-fluide.titre{
    background-image: none;
    background-color: white;
}
.container-fluide h3{ 
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 0;
    text-align: center;
}
.container-fluide.contact, .container.contact {
    background-color: white;
}
.container-fluide.deux .container.competences{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left : 100px;
}
.cole i{
    color: black;
    font-size: 90px;
    margin: 25px;
}
.cole{
    width: 25%;
}
.container .row.projet{
    display : flex;
    flex-direction: row;
}
.container .row.projet .project, .container .row.projet2 .project{
    width: 50%;
}
.container .row.projet img, .container .row.projet2 img{
    box-shadow: 0 5px 20px 0 black;
    width: 500px;
}
.container .row.projet2{
    display : flex;
    flex-wrap: wrap;
    padding-top: 40px;
    justify-content: center;
}
.vertical-line{
    border-left: 2px solid #49749e;
    display: inline-block;
    height: 350px;
    margin:20px;
    border-style: groove;
}
.parcours{
    padding-bottom: 20px;
    font-size: 25px;
}
.col.academique .row{
    margin-bottom: 36px;
}


/* Contact */
.container-fluide.contact{
    padding-bottom: 20px;
}
.container-fluide.contact .row{
    justify-content: center;
    padding-bottom: 20px;
}
.container-fluide.contact .row{
    margin-right: 0px;
}

/* Footer */
footer{
    height: 100px;
    background-color: rgb(216, 207, 211);
    box-shadow: 0 10px 40px 0 black;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer button{ 
    width: 200px;
    height: 40px;
}
.footer button a{
    color: whitesmoke;
}
.footer p{
    font-size: 20px;
}
.footer p span{
    font-size: 17px;
    font-style: italic;
}

@media (max-width:480px){
    .container.text-justify .row {
        flex-direction: column;
        align-content: center;
    }
    .container.text-justify .row .col-3{
        padding: 0;
    }
    .container.text-justify .row .col-3.exp{
        margin-top: 20px;
    }
    .container.text-justify .row .col.academique .col-5{
        padding: 0;
        margin-left: -55px;
    }
    .container.text-justify .row .col.academique .col-5.p p{
        margin-right: -10px;
    }
    .container.text-justify .row .col.academique .col-7{
        padding: 0;
        margin-left: -35px;
    }
    main .container.para{
        width: 100%;
        margin-top: 60px;
    }
    .container-fluide .container .block .block1, .container-fluide .container .block .block1 img{
        display:none;
    }
    .container-fluide.head .container .block{
        padding-top: 100px;
    }
    .container-fluide.head .container .block2 .row{
        width: 100%;
        padding-top: 7px;
        padding-left: 20px;
        padding-right: 5px;
    }
    .container-fluide.head .container .block .block2 .row h4{
        display: none;
    }
    main .container.icone .icon{
        text-align: center;
        height: 40px;
        width: 272px;
        background-color: #49749e;
    }
    .container-fluide.deux .container.competences{
        padding-left : 30px;
    }
    .cole i{
        font-size: 50px;
    }
    .cole{
        width: 50%;
    }
    .container .row.projet .project, .container .row.projet2 .project{
        text-align: center;
        width: 100%;
    }
    .container .row.projet .project p, .container .row.projet2 .project p{
        font-size: 10px;
        text-align: center;
    }
    .container .row.projet .project p.para2{
        padding-top: 40px;
    }
    .container .row.projet img, .container .row.projet2 img{
        margin-left: 30px;
        width: 250px;
    }
    .vertical-line{
        display: none;
    }
    .footer{
        text-align: center;
    }
    .footer p{
        font-size: 13px;
    }
    .footer button{ 
        width: 200px;
        height: 40px;
    }
    .footer p span{
        font-size: 13px;
        font-style: italic;
    }
    
}
@media (min-width:480px) and (max-width:740px){
    .vertical-line{
        display: none;
    }
    .container.text-justify .row {
        flex-direction: column;
        align-content: center;
    }
    .container.text-justify .row .col-3{
        padding: 0;
    }
    .container.text-justify .row .col-3.exp{
        margin-top: 20px;
    }
    .container.text-justify .row .col.academique .col-5{
        padding: 0;
        margin-left: -55px;
    }
    .container.text-justify .row .col.academique .col-5.p p{
        margin-right: -10px;
    }
    .container.text-justify .row .col.academique .col-7{
        padding: 0;
        margin-left: -35px;
    }
    main .container.para{
        width: 100%;
        margin-top: 60px;
    }
    .container-fluide .container .block .block1 img{
        display : none;
    }
    .container-fluide.head .container .block{
        padding-top: 100px;
    }
    .container-fluide.head .container .block2 .row{
        width: 100%;
        padding-top: 7px;
    }
    .container-fluide.head .container .block .block2 .row h4{
        display: none;
    }
    main .container.icone .icon{
        text-align: center;
        height: 40px;
        width: 348px;
        background-color: #49749e;
    }
    .container-fluide.deux .container.competences{
        padding-left : 30px;
    }
    .cole i{
        font-size: 50px;
    }
    .cole{
        width: 25%;
    }
    .container .row.projet .project, .container .row.projet2 .project{
        width: 100%;
        text-align: center;
    }
    .container .row.projet .project p, .container .row.projet2 .project p{
        font-size: 20px;
        text-align: center;
    }
    .container .row.projet .project p.para2{
        padding-top: 40px;
    }
    .col.academique .row {
        margin-bottom: 6px;
    }
    .footer{
        text-align: center;
    }
    .footer p{
        font-size: 13px;
    }
    .footer button{ 
        width: 200px;
        height: 40px;
    }
    .footer p span{
        font-size: 13px;
        font-style: italic;
    }
}
@media (min-width:740px) and (max-width: 768px){
    .container-fluide .container .block2 .row{
        padding-top: 0px;
    }
    .container-fluide.head .container .block .block1 img{
        width: 304px;
    }
    .container .row.projet .project, .container .row.projet2 .project{
        width: 100%;
        text-align: center;
    }
    .container .row.projet .project p, .container .row.projet2 .project p{
        font-size: 20px;
        text-align: center;
    }
    .container .row.projet .project p.para2{
        padding-top: 40px;
    }
    .container-fluide.deux .container.competences{
        padding-left: 0px;
    }
    .vertical-line{
        height: 530px;
    }
}
@media (min-width:768px) and (max-width: 991px){
    .container-fluide .container .block2 .row{
        padding-top: 13px;
    }
    .container .row.projet .project, .container .row.projet2 .project{
        width: 100%;
        text-align: center;
    }
    .container .row.projet .project p, .container .row.projet2 .project p{
        font-size: 20px;
        text-align: center;
    }
    .container .row.projet .project p.para2{
        padding-top: 40px;
    }
    .container-fluide.deux .container.competences{
        padding-left: 50px;
    }
}
@media (min-width:991px) and (max-width:1024px){
    .container .row.projet .project, .container .row.projet2 .project{
        width: 100%;
        text-align: center;
    }
    .container .row.projet .project p, .container .row.projet2 .project p{
        font-size: 20px;
        text-align: center;
    }
    .container .row.projet .project p.para2{
        padding-top: 40px;
    }
}
